@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);
@source "../components";
@source "../app";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --animate-shine: shine var(--duration) infinite linear;
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes shine {
  0% {
    background-position: 0% 0%;
        }
  50% {
    background-position: 100% 100%;
        }
  to {
    background-position: 0% 0%;
        }
    }
  @keyframes marquee {
  from {
    transform: translateX(0);
        }
  to {
    transform: translateX(calc(-100% - var(--gap)));
        }
    }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
        }
  to {
    transform: translateY(calc(-100% - var(--gap)));
        }
    }
  --animate-line-shadow: line-shadow 15s linear infinite;
  --animate-shiny-text: shiny-text 8s infinite
;
  @keyframes line-shadow {
  0% {
    background-position: 0 0;}
  100% {
    background-position: 100% -100%;}}
  @keyframes shiny-text {
  0%, 90%, 100% {
    background-position: calc(-100% - var(--shiny-width)) 0;}
  30%, 60% {
    background-position: calc(100% + var(--shiny-width)) 0;}}}